body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.heading th{
  cursor: pointer;
}

.heading th:hover{
  color: aquamarine;
}

.clickable_fname:hover{
  cursor: pointer;
  color:deeppink;
}

.link{
  text-decoration: none;
  color:black;
}
.link:hover{
  color: hotpink;
}
.web-link{
  color:royalblue;
}
.detailsPageTable{
  margin-top: 2rem;
  
}

.detailsPage{
  border:1px solid gray;
}
.detailsPageTable tr{
  border-bottom:1px solid gray;
  padding: 3rem;
}

.detailsPageTable tr>td{
  padding-left: 2rem;
}